$blue : #2A4A96;
$yellow : #E5BB16;
$grey : #D8D8D8;
$dark-grey: #246246;
$red : #B7292C;
$dark-orange: #D67C1C;
$light-orange: #8BA431;
$dark-green: #246246;
$light-green: #8BA431;
$dark-blue: #204076;
$light-blue: #007FC5;

body {
	background: $light-blue;
}